*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    width: 100%;
}

.container{
    margin: 0 auto;
    width: 1140px;
}

ul{
    display: flex;
    align-items: center;
    
}
/* ul li{
    padding: 10px 15px;
    
} */

.most_link2{
    margin-left: 20px;
}

.head_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.head_box .head_small_box{
    display: flex;
}

.head_box .head_small_box .head_link{
    display: flex;
}

.head_img{
    width: 100px;
    
}
.head_link{
    border: 0.5px solid gainsboro ;
    padding: 10px 30px;
}

.head_link input{
  border: none;
  outline: none;
}
.head_link img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
button{
    padding: 10px 20px;
    background-color:#B8BDC9;
    border:none;
}

.most{
    background-image:url("./IMAGE\ \(19\).png");
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
    padding-bottom: 100px;

}

h2 b{
    border-bottom: 2px solid aqua;
    color:  #2BCA8B;
    
}

.most .container h2{
    padding-top: 200px;
    padding-left: 180px;
    font-size: 40px;
    color: #444444;
    
}

.most .container p{
    padding-top: 20px;
    padding-left: 180px;
    
}

.most .container ul{
    padding-top: 100px;
    padding-left: 180px;
    
}
.most_link1{
    background-color: #F55F39;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
}
.most_link1 h6{
    font-size:10px;
    padding-top: 2px;
    
}

.most_link2{
    background-color: white;
    padding: 10px 20px;
    color: #4D4D4D;
    font-size: 20px;
}
.most_link2 h6{
    font-size:10px;
    padding-top: 2px;
    
}

.our_list{
    display:block;
}

.how h2{
    color: #2BCA8B;
    margin-left: 20px;
    padding-left: 90px;
    font-size: 40px;
    padding-top: 50px;
    
}

.our_title{
    line-height: 30px;
    color:  #252061;
    font-size: 20px;
}
.how .our_list{
    padding-top: 60px;
}

.our_list{
    
    padding-left: 60px;
}

.our .container .how{
    display: flex;
    align-items:center;
}
.box{
    width: 500px;
    height: 350px;
    background-color: #252061;
    
}

.box h3{
    padding-top: 30px;
    padding-left: 20px;
    color: white;
    font-size: 25px;
}


.box p{
    padding-top: 30px;
    padding-left: 20px;
    color: white;
    font-size: 20px;
}

.box .box_img1{
    width: 180px;
    height: 180px;
    position: absolute;
    left: 14%;
    z-index: 1;
    margin-top: 10px;

}

.box .box_img2{
    width: 180px;
    height: 180px;
    position: absolute;
    left: 30%;
    
    

}

.box .box_img3{
    width: 180px;
    height: 180px;
    position:absolute ;
    right: 60%;
}

.box .box_link{
    padding: 15px 30px;
    position: absolute;
    background-color: #2BCA8B;
    left: 54%;
    color: white;
    margin-top: 42px;
}

.box_img{
    position:relative;
    margin-top: 40px;
    margin-right: 100px;
}

.box{
    position: absolute;
    left: 63%;
    bottom: -30%;
}

.our{
    position: relative;
}

.blog_1{
    color: black;
    margin-left: 100px;
    font-size: 50px;
}

.blog_1 b{
    color:  #F55F39;
    border-bottom: 2px solid  #F55F39;
    
}

.blog_small_box{
    width: 400px;
    padding-bottom: 20px;
    /* border: 0.5px solid wheat; */
}

.blog_small_box h3{
    padding-top: 20px;
    color: #252061;
    font-size: 30px;
    
}

.blog_small_box1 p{
    margin-left: 10px;
}

.blog_small_box .blog_small_text{
    padding-top: 10px;
    color: #969696;
    padding-bottom: 10px;
}

.blog_box1{
    position: relative;
    margin-bottom: 110px;
    vertical-align: top;
}

.blog_small_box{
    position:absolute;
    top: 70%;
    background-color: white;
}

.blog_img1{
    padding: 15px 0;
}

.blog_small_box1{
    display: flex;
    align-items: center;
    
}

.blog_small_box1 img{
  width: 50px;
  height: 50px;
}

.blog_small_img{
    position: relative;
}
.small2{
    position: absolute;
    top: 88%;
    background-color: white;
}

.small2 h6{
 color:  #929292;
 padding-top: 15px;
}

.blog_boxs .blog_box2 .blog_img1{
    width: 430px;
    height: 290px;
}

.blog_boxs .blog_box2 .blog_img2{
    width: 430px;
    height: 290px;
}

.blog{
    margin-top: 100px;
}

.blog_boxs{
    margin-right: 40px;
    margin-top: 75px;
    vertical-align: top;
}


.blog_box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 100px;
}

.visit{
    
    background-color: #252061;
    width: 430px;
    padding-bottom: 40px;
    margin-top: 100px;
    
}

.visit h2{
    color: white;
    font-size: 30px;
    padding-left: 45px;
    padding-top: 35px;
}

.visit .visit_text{
color: white;
padding: 20px 45px;

}

.visit a{
    color: #F55F39;
    padding-left: 45px;
}


.small2{
    width: 300px;
    border: 0.5px solid gray;
}

.get{
    background-color: #252061;
    background-size: 100%;
    margin-top: 500px;
    height: 1000px ;
}
/* .get .container h2{
    color: white;
    margin-bottom: 100px;
} */

.get .container .boxs{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.boxs .month{
    width: 350px;
    height: 450px;
    background-color: white;
}

.month_list{
    display: block;
}

.month_item{
 display: flex;
 align-items: center;
}

.month_item img{
    height: 15px;
    width: 15px;
}

.month a{
    padding-top: 30px;
    font-size: 22px;
    padding-left: 60px;
}

.month h2{
    margin-left: 60px;
    margin-top: 10px;
    font-size: 50px;
}
.month .month_list{
    margin-left: 60px;
    margin-top: 20px;
}
.month_item{
    padding: 5px 0;
}

.month .month_links{
 padding: 15px 20px;
 background-color:#2BCA8B;
 margin-left: 60px;
 margin-top: 20px;
 color: white;
}

.month .month_matn{
    margin-left: 60px;
    margin-top: 10px;
    color:  #9DA0AC;
    
}


.boxs .year{
    width: 350px;
    height: 500px;
    background-color: white;
}

.year_list{
    display: block;
}

.year_item{
 display: flex;
 align-items: center;
}

.year_item img{
    height: 15px;
    width: 15px;
}

.year a{
    padding-top: 40px;
    font-size: 22px;
    padding-left: 60px;
}

.year h2{
    margin-left: 60px;
    margin-top: 20px;
    font-size: 50px;
}
.year .year_list{
    margin-left: 60px;
    margin-top: 30px;
}
.year_item{
    padding: 5px 0;
}

.year .year_links{
 padding: 15px 20px;
 background-color:#2BCA8B;
 margin-left: 60px;
 margin-top: 30px;
 color: white;
}

.year .year_matn{
    margin-left: 60px;
    margin-top: 20px;
    color:  #9DA0AC;
    
}


.boxs .day{
    width: 350px;
    height: 450px;
    background-color: white;
}

.day_list{
    display: block;
}

.day_item{
 display: flex;
 align-items: center;
}

.day_item img{
    height: 15px;
    width: 15px;
}

.day a{
    padding-top: 30px;
    font-size: 22px;
    padding-left: 60px;
}

.day h2{
    margin-left: 60px;
    margin-top: 10px;
    font-size: 50px;
}
.day .day_list{
    margin-left: 60px;
    margin-top: 20px;
}
.day_item{
    padding: 5px 0;
}

.day .day_links{
 padding: 15px 20px;
 background-color:#2BCA8B;
 margin-left: 60px;
 margin-top: 20px;
 color: white;
}

.day .day_matn{
    margin-left: 60px;
    margin-top: 10px;
    color:  #9DA0AC;
    
}



.boxs{
    margin-top: 100px;
}

.acc{
    display: flex;
    align-items: center;
    margin-left: 90px;
}

.acc h4{
 color: white;
 
}

.acc p{
    border: 2px solid white;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    margin: 10px 10px;
}
.small_text{
    color: white;

}

.smalll_boxs{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 90px;
    
}

.smalll_boxs .small_link{
    color: white;
    padding-left: 60px;
}

.photo{
    position: relative;
}

.photo .photo_img{
    width: 800px;
    height: 600px;
}

.photo_box{
    width: 400px; 
    height: 350px;
    position: absolute;
    background-color: #252061;
    top: 30%;
    left: 4%;
}

.photo_text{
    color: white;
    font-size: 30px;
    padding: 20px 25px;
}

.photo_box h6{
    color: white;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}

.get_text{
    color: white;
    padding-top: 180px;
    text-align: center;
    font-size: 50px;
}


.photo{
    position: absolute;
    top: -40%;
    left: 10%;
}

.get .container{
    position: relative;
}

.photo_small_text{
    border: 1px solid black;
   width: 250px;
   margin-left: 20px;
   text-align: center;
   padding: 10px 0;
   background-color: #2BCA8B;
   color: white;
   margin-top: 30px;
}

.say_box{
    display: flex;
    align-items: center;
}

.say{
    position: relative;
}

.say_small_box{
    width: 350px;
    height: 350px;
    border: 1px solid wheat;
    position: absolute;
    top: 45%;
    background-color: white;
    left: -20%;
}

.say_img{
 margin-left: 20px;
}
.say_link{
    position: absolute;
    background-color:  #2BCA8B;
    left: 70%;
    padding: 15px 20px;
    top: 75%;
    color: white;
}

.what_h{
    margin-top: 20px;
    font-size: 30px;
    margin-left: 40px;
}

.say_small_box h5{
color: #524B9A;
margin-top: 20px;
margin-left: 30px;
font-size: 20px;
}

.say_text{
    margin-top: 20px;
    margin-left: 30px;
}

.say_small_box h6{
    color: #524B9A;
    margin-left: 30px;
    margin-top: 20px;
}

.kind{
    background-color: #F0F0F0;
    margin-top: 100px;
    display: block;
}

.kind{
    width: 800px;
    height: 600px;
    margin-bottom: 150px;
}

.kind_item hr{
    margin-left: 40px;
    width: 500px;

}

.kind_item h2{
    padding: 20px 40px;
    font-size: 28px;
}

.kind_item p{
    padding: 20px 20px;
}

.kind_item h6{
    padding-bottom: 10px;
    margin-left: 40px;
}

.kind_item .kind_link{
    margin-left: 40px;
    padding-bottom: 10px;
    color: #4163AC;
    
}

.kind_small_link{
    margin-top: 30px;
    margin-left: 40px;
    color:  #F55F39;
    font-size: 14px;
     
   }

.kind_item h6{
    font-size: 15px;
}

.kind_item .kind_text1{
    font-size: 20px;
    color: #524B9A;
    margin-left: 20px;
    
}

.the_p{
    text-align: center;
}

.the_h{
    text-align: center;
}

.the_box img{
    width: 20px;
    height: 20px;
    
}

.the_small_box{
    border: 1px solid  #E0E0E0;
    
    padding: 10px 0;
    width: 250px;
}

.the_small_box a{
  color:#E0E0E0;
  
}

.the_box{
    display: flex;
    align-items: center;
    margin-top: 50px;  
    margin-left: 350px;
    margin-bottom: 30px;
}

.the_box input{
 padding: 15px 0;
 text-align: center;
 width: 130px;
 background-color: #2BCA8B;
 border: none;
 color:  #E0E0E0;
}

.the_list{
    width: 300px;
    display: block;
    border:  3px solid #E6E8EE;
}

.the_item1{
    margin:30px 20px;
}

.the_item1 h4{
    color: #252061;
}

.the_item h6{
    color: #F55F39;
    margin-left: 10px;
}

.the_input{
 width:297px;
 height: 50px;
 text-align: center;
 margin-top: 30px;
 background-color: #EEF1F6;
 color: #252061;
 border: none;
}

 .the_list .the_item{
    display:flex;
    width: 100%;
    padding: 10px 20px;
}

.the_item img{
  width: 10px;
  height: 10px;
}

.the_list_2{
    width: 300px;
    display: block;
    border:  3px solid #E6E8EE;
}

.the_item1{
    margin:30px 20px;
}

.the_item1 h4{
    color: #252061;
}

.the_item h6{
    color: #F55F39;
    margin-left: 10px;
}



.the_input{
 width:297px;
 height: 50px;
 text-align: center;
 margin-top: 30px;
 background-color: #EEF1F6;
 color: #252061;
 border: none;
}

 .the_list_2 .the_item{
    display:flex;
    width: 100%;
    padding: 10px 20px;
}

.the_item img{
  width: 10px;
  height: 10px;
}


.the_list_3{
    width: 300px;
    display: block;
    border:  3px solid #E6E8EE;
}

.the_item1{
    margin:30px 20px;
}

.the_item1 h4{
    color: #252061;
}

.the_item h6{
    color: #F55F39;
    margin-left: 10px;
}

.the_input{
 width:297px;
 height: 50px;
 text-align: center;
 margin-top: 30px;
 background-color: #EEF1F6;
 color: #252061;
 border: none;
}

 .the_list_3 .the_item{
    display:flex;
    width: 100%;
    padding: 10px 20px;
}

.the_bigbox{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media(max-width:1160px){
    .container{
        width: 1040px;
    }
}


@media(max-width:1060px){
    .container{
        width: 940px;
    }

    .boxs{
       width: 100%;
    }

    .head_img{
        width: 130px;
        height: 80px;
    }

    .head_box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
}

@media(max-width:960px){
    .container{
        width: 840px;
    }
    .head_link{
        border: 0.5px solid gainsboro !important ;
        padding: 10px 30px !important;
    }

    .head_link input{
        width: 80px;
        
    }
}


@media(max-width:860px){
    .container{
        width: 740px;
    }

    .boxs{
        width: 100%;
    }

    .head_link{
        border: 0.5px solid gainsboro !important ;
        padding: 10px 30px !important;
    }

    .head_link input{
        width: 140px !important;
        margin-left: 20px !important;
        
    }

    ul li p{
      font-size: 10px;
    }
    .head_img{
        width: 40px;
        height: 40px;
    }
    
}

@media(max-width:760px){
    .container{
        width: 640px;
    }
}


@media(max-width:660px){
    .container{
        width: 540px;
    }

    .head_link{
        width: 50px !important;
        padding: 0 !important;
        /* margin-left: 20px !important; */
        
    }

}

@media(max-width:560px){
    .container{
        width: 440px;
    }
}


@media(max-width:460px){
    .container{
        width: 340px;
    }

    ul{
        display: none;
    }
}


@media(max-width:360px){
    .container{
        width: 100%;
    }
    .head_link{
        width: 150px !important;
    }
}

